# .NET-specific
*.obj
*.pdb
*.user
*.vscode/
.vs/
*.suo
*.cache/
bin/
obj/
TestResults/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.log
*.exe
*.dll

# Visual Studio Code specific
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2019 specific files
.vs2019/
*.opendb

# Rider specific files
.idea/

# Resharper specific files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Xamarin
*.iOS.designer.cs
*.iOSproj.user
*.iOSproj.nuget
*.iOSproj.webinfo
*.iOSproj.bak/
*.iOSproj.vspscc
*.iOSproj.resharper.user

